<!DOCTYPE html>
<html>
<head>
  <title>MandiBott</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
    <div id='logo'>
      <img src="doorspeaker2.jpg">
    </div>
    <div id='header'>
      <h1> Mandi's Site </h1>
    </div>
  </header>
    <div class='nav'>
      <%= link_to('Home Page', root_path, class: "links") %>
        <span>&nbsp;|&nbsp;</span>
      <%= link_to('Albums', albums_path, class: "links") %>
        <span>&nbsp;|&nbsp;</span>
      <%= link_to('About', about_path, class: "links") %>
    </div>

    <div id="main-content">
        <%= yield %>
    </div>

    <div id='albumcolumn'>
      <%#= render 'albums' %>
    </div>

  </div>
</body>
</html>
